<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>color picker</title>
</head>
<body style="height: 100vh;display: flex; justify-content: center; align-items: center;">
<div style="background-color: cornsilk; border-radius: 10px; border: 1px solid red; display: flex; flex-direction: row; align-items: center; padding: 10px; gap: 20px;">
    <canvas id="c" style="display: block; background-color: palegreen; border-radius: 10px;"></canvas>
    <input type="color" id="colorpicker" value="#FFFFFF" onchange="ctx.fillStyle = this.value;">
    <label for="colorpicker">Select your favorite color:</label>
</div>

<script>
    // geting canvas by id c
    var c = document.getElementById("c");
    var ctx = c.getContext("2d");

    var matrix = "`1234567890-=!@#$%^&*()_+qwertyuiop[]asdfghjkl;'zxcvbnm,./QWERTYUIOPASDFGHJKLZXCVBNM<>?;'\"\\|~";
    matrix = matrix.split("");

    var font_size = 10;
    var columns = c.width/font_size;
    // var columns = 1;
    var drops = [];
    for(var x = 0; x < columns; x++)
        drops[x] = 1;
    // console.log(drops)
    function draw()
    {
        ctx.fillStyle = "rgba(0, 0, 0, 0.04)";


        // single letter
        // ctx.fillStyle = "rgba(0, 0, 0, 1)";

        // water drops
        // ctx.fillStyle = "rgba(0, 0, 0, 0.3)";

        // smaller water drops
        // ctx.fillStyle = "rgba(0, 0, 0, 0.7)";
        ctx.fillRect(0, 0, c.width, c.height);

        ctx.fillStyle = document.getElementById('colorpicker').value;

        // bright green
        // ctx.fillStyle = "#AAFF00";

        // blue
        // ctx.fillStyle = "#6495ED";
        // ctx.fillStyle = "#3ea4f0";

        // banana yellow
        // ctx.fillStyle = "#FFFF72";

        // neon green
        // ctx.fillStyle = "#39FF14";

        //crimson red
        // ctx.fillStyle = "#DC143C";
        ctx.font = font_size + "px arial";
        for(var i = 0; i < drops.length; i++)
        {
            var text = matrix[Math.floor(Math.random()*matrix.length)];
            ctx.fillText(text, i*font_size, drops[i]*font_size);
            // console.log(drops[i])
            if(drops[i]*font_size > c.height && Math.random() > 0.975)
                drops[i] = 0;
            drops[i]++;
        }
    }

    // setInterval(draw, 75); //with water drop
    setInterval(draw, 35);
</script>
</body>
</html>